body{
    background-image: url(wallpaper1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Container{
    font-family: sans-serif;
    color: rgb(66, 6, 68);  
    background-image: url(wallpaper3.jpg); 
    background-repeat: no-repeat;   
    background-size: cover;  
    width:700px;
    height: 400px;
    border: 1px solid rgb(154, 4, 154); 
    text-align: center;
    margin: auto;
    margin-top: 150px;
    position: static; 
    padding-top: 30px;
    /* display: flex;  */
    /* flex-direction: column;  */
    /* justify-content: center;  */
    /* align-items: center;  */
}
h2,h3,p
{
    font-weight: bold;
}
.box{
    width:200px;
    height: 30px;
    color: white;
    border: 1px solid black;
    border-radius:10px;
    background-image: url(wallpaper0.jpeg);
    background-size: cover;   
}
#form_div{
    display: none;

}
.form-login{
    line-height: 50px;
}
.label{
    font-weight: bold;
    width:200px;
    display: inline-block;
}
.type-box{
    width:250px;
    height:30px;
    border-radius: 10px;
    background-color: rgb(218, 198, 215);
    border-color: white;
    border: none; 
}
#hello, #register_div, #hi_register{
    display: none;
}
.new_box{
    width:800px;
    height: 400px;
    color: rgb(66, 6, 68);
    background-image: url(wallpaper3.jpg); 
    background-repeat: no-repeat;  
    background-size: cover;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    margin-top: 150px;

}
ul{
    margin: 0;
    padding: 0%;
}
li{
   display: inline;
   float: left;
    
}
.anchor{
    color: rgb(66, 6, 68);
    display: flex;
    justify-content:space-evenly ; 
    width: 198px;
    border:1px solid black;
    background-color: rgb(161, 23, 147);
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}
.anchor:hover{
   background-color: rgb(171, 106, 165);
}
#login_success, #register_success{
    font-size: 30px;
    font-weight: bold;
}
a{
    color: black;
    text-decoration: none;
}
table,td,th{
    border:1px solid;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: rgb(239, 114, 210);;
}
.table_class{
    width:100%;
    border:1px solid black;
    border-collapse: collapse;  
}
th, td {
    text-align: center;
    padding: 8px;
  }
#manage_box1{
    display: none;
}
#edit{
    display: none;
}
